<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/popcorn-table-front-movie-theater_1340-33319.jpg?t=st=1731668239~exp=1731671839~hmac=71e8e5a9c34e5cc7cd54d93c5f3c599faf8fdad4557fac240b8e01fdf84706e6&w=1800);">
      <div class="container">
        <h1>Create any movie list you want! </h1>
        <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
      </div>
    </div>

    <div class="container">


      <%= yield %>


    </div>
  </body>
</html>
